@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #B9D3B0;
 }

header {
    background-color: #F88F79;
    width: 100%;   
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header figure img{
    height: 71px;
    align-items: center;
    margin-left: 50px;
   
}
.wrapper{
	width: 100%;
	height: 100%
}

.navbar{
	width: 100%;
	height: 60px;
	background: #f88f79;
}

.navbar > ul{
	display: flex;
	justify-content: center;	
}

.navbar ul li{
	position: relative;
}

.navbar ul li a{
	display: block;
    color: black;
    height: 60px;
    width: 180px;
    text-align: center;
    padding: 20px 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.navbar ul > li a{
	margin-right: 1px;
}

.navbar ul > li:last-child a{
	margin-right: 0;
}

.navbar ul li a .icon {
    width: 25px;
    display: inline-block;
}

.navbar ul li a:hover,
.navbar ul li a.a_parent.active,
.navbar .dd_menu ul li a:hover,
.navbar .dd_menu ul li a.active{
	background: #c279b7;
}

.navbar .dd_menu{
	position: absolute;
	top: 80px;
	left: 0;
	display: none;
}

.navbar .dd_menu ul li a{
	width: 180px;
	background:  #f88f79;
	text-align: left;	
	padding: 20px;
}

.navbar .dd_menu:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent  #f88f79 transparent;
}

.navbar ul li a.a_parent.active + .dd_menu{
	display: block;
}

.banner{
    width: 100%;
    height: 560px;
    background: center fixed url("images/g-banner.jpg");
    background-size: cover;
   /* perspective: 2px;*/
}

#all_movies{
    margin-top: 5em;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

#all_fantasy{
    margin-top: 5em;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.movies{
    margin: 0 40px;
    width: 18%;
    text-align: center;
    margin-bottom: 1.5em;

}

.poster{
    width: 80%;
    border-radius: 8px;
    border: 5px solid #81BDA4;
    height: 420px;
    background: powderblue;
    margin: 0px;
}

