@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #B9D3B0;
 }

header {
    background-color: #F88F79;
    width: 100%;   
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header figure img{
    height: 71px;
    align-items: center;
    margin-left: 50px;
   
}
.menu{
    padding: 10px;
    justify-content: flex-end;
    margin-right: 50px;
    font-weight: 500;
    font-size: .9em;
}

.menu li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 0 20px; 
}

.menu li a{
    text-decoration: none;
    color: black;
}

.banner{
    width: 100%;
    height: 560px;
    background: center fixed url("images/g-banner.jpg");
    background-size: cover;
   /* perspective: 2px;*/
}

#all_movies{
    margin-top: 5em;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.movies{
    margin: 0 40px;
    width: 18%;
    text-align: center;
    margin-bottom: 1.5em;

}

.poster{
    width: 80%;
    border-radius: 8px;
    border: 5px solid #81BDA4;
    height: 420px;
    background: powderblue;
    margin: 0px;
}

.galeria{
    width:90%;
    margin:auto;
    list-style:none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li{
    margin: 5px;
}

.galeria img{
    width: 266px;
    height: 366px;
    border: 6px solid #81BDA4;
    border-radius: 10px;
}
