@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #ebbba7 0%, #B9D3B0 50%);
 }

header {
    background-color: #F88F79;
    width: 100%;   
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header figure img{
    height: 95px;
    align-items: center;
    margin-left: 150px;
}

.navbar{
    padding: 10px;
    justify-content: flex-end;
    margin-right: 150px;
    font-weight: 500;
    font-size: .9em;
}

.navbar > ul{
	display: flex;
	justify-content: center;	
   
}

.navbar ul li{
	position: relative;
    list-style: none;
}

.navbar ul li a{
	display: block;
    color: black;
    height: 60px;
    width: 180px;
    text-align: center;
    padding: 20px 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    text-decoration: none;
}

.navbar ul > li a{
	margin-right: 1px;
}

.navbar ul > li:last-child a{
	margin-right: 0;
}

.navbar ul li a .icon {
    width: 60px;
    display: inline-block;
    margin-top: -20px;
}

/*.navbar ul li a:hover,
.navbar ul li a.a_parent.active,*/
.navbar .dd_menu ul li a:hover,
.navbar .dd_menu ul li a.active{
	background: #81BDA4;
}

.navbar .dd_menu{
	position: absolute;
	top: 80px;
	left: 0;
	display: none;
}

.navbar .dd_menu ul li a{
	width: 180px;
	background: rgba(246, 170, 147, 1);
	text-align: center;	
	padding: 19px;
    list-style:none;
}

.navbar .dd_menu:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent  #F6AA93 transparent;
}

.navbar ul li a.a_parent.active + .dd_menu{
	display: block;
}


#banner{
    width: 100%;
    height: 460px;
    background: center fixed url("images/castillo-banner.jpeg");
    background-size: cover;
    background-position: 0 650px;
   
}

#all_movies{
    margin-top: 5em;
    display: flex;
    justify-content:center; 
    flex-wrap: wrap; 
}

.movies{
    margin: 0 30px;
    width: 18%;
    text-align: center;
    margin-bottom: 1.8em;
}

.poster{
    width: 265px;
    height: 365px;
    border-radius: 8px;
    border: 5px solid #81BDA4;
}

.poster:hover{
    transform: scale(1.1);
}

.title{
    font-size: 1em;
}

.modal-container{
    position: fixed;
    visibility: hidden;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 350px;
    height: 450px;
    background: #F6AA93;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    padding: 20px;
    border-radius: 10px;
}

#close{
    display: block;
    float:right;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background: #81BDA4;
}

#close:hover{
    cursor: pointer;
}

.modal-close{
   /* transform: translateY(-200px);*/
   color:black;
}

.infoContainer{
    margin-top: 15px;
}

.modal_styles{
    font-weight: bold;
}